/* lock css starts */

::ng-deep .mat-dialog-container{
    padding: 0px;
  }
  
  
  .pp-hd{
  padding: 4px 12px;
  height: 30px;
  font-weight: bold;
  font-size: 13px;
  color: #000000;
  background: linear-gradient( #fffcfc, #b7bfbf);
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  }
  
  .pp-hd img{
    width: 18px; padding-right: 5px;  margin-top: -8px;
  }
  
  .pp-bd{
    background-color: white;
    text-align: center;
    justify-content: center;
    padding-top: 10px;
  }
  
  .pp-msg{
    padding:10px 20px;
    font-size: 1rem;
    font-weight:400;
    width:350px;
  
  }
  .pp-no{
  padding-top: 7px;
  display: flex;
  text-align: center;
  justify-content: center;
  padding-bottom: 10px;
  font-size: 1rem;
  font-weight:bold;
  margin-top: -5px;
  }
  .pp-ft{
    display: flex;
    text-align: center;
    justify-content: center;
    background-color: white;
    padding-bottom: 10px;
  
  }
  .pp-Ybtn{
    float: left;
    padding: 5px;
    cursor: pointer;
  
  }
  
  .pp-Nbtn{
    padding: 5px;
    /* border-left: 1px solid black; */
    cursor: pointer;
    margin-left: 30px;
  }
  
  .__fl{
    float: left;
   }
   
   .__fr{
     float: right; font-size: 15px;
   }

   
   /* lock css ends */
/* lock all css same as lock  */


/* lockschedule code starts */

::ng-deep .mat-dialog-container {
    padding: 0;
  }
  .namettl {
    font-size: 13px;
    color: #000000;
    padding: 4px 12px;
    background: linear-gradient( #fffcfc, #b7bfbf);
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
  
  
  }
  .__bDr {
    padding: 5px 15px;
    /* border-bottom: 5px solid #ededed;
    border-left: 5px solid #ededed;
    border-right: 5px solid #ededed; */
  }
  
  .bdr_wdh {
    /* border-left: 5px solid #ccc;
    border-bottom: 5px solid #ccc;
    border-right: 5px solid #ccc; */
    background: #f7f8f8;
    color: #000000;
    position: relative;
    overflow: hidden;
    height: 100%;
  }
  .input-icon-wrap {
    display: flex;
    flex-direction: row;
  }
  
  .input-icon {
    background: #ffffff;
  }
  
  .input-with-icon {
    border: none;
    flex: 1;
  }
  
  .input-icon, .input-with-icon {
    margin: 2px 0;
    padding: 1px 2px;
    box-shadow: 0px 0px 4px 0px #bdbdbd;
  }
  input:focus-visible{
    outline: 0;
  }
  
  .__tiMe {
    position: fixed;
    background: #fff;
    margin-left: 80px;
    margin-top: 59px;
    text-align: center;
    font-size: 12px;
    z-index: 999;
    padding: 6px;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 5px 1px #1b1b1b;
  }
  /* .__tiMe:after{
    left: 85%;
    margin-left: -8px;
    border-width: 8px;
    content: '';
    position: absolute;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    width: 14px;
    height: 14px;
    right: 10px;
    top: -5px;
    background-color: #0d2f56;
    z-index: -1;
    box-shadow: -1px -1px 0 0 #969696;
  } */
  .timewdh{
    min-width: 30px;
    padding: 5px;
    font-size: 12px;
  }
  .btngradient {
    width: 40%;
    background: #4caf50;
    color: #ffffff;
    font-size: 14px;
    border: 1px solid #000000;
    box-shadow: 0px 0px 0px 1px #cccccc;
    margin: 0 4px;
  }
  
  .all-veh img {
    filter: invert(1);
  }
  
/* lockschedule code ends */

/* Edit Messages code starts */
::ng-deep .mat-dialog-container {
    padding: 0;
  }
  ::ng-deep .mat-tab-body-wrapper{
       background: #f7f8f8;
      border: 1px solid #ccc;
      border-radius: 3px;
  }
  .namettl {
    font-size: 13px;
    padding: 4px 12px;
    color: #000000;
    font-weight: bold;
    background: linear-gradient( #fffcfc, #b7bfbf);
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .__bDr {
    padding: 5px 15px;
    /* border-bottom: 5px solid #ededed;
    border-left: 5px solid #ededed;
    border-right: 5px solid #ededed; */
  }
  
  .bdr_wdh {
    /* border-left: 5px solid #ccc;
    border-bottom: 5px solid #ccc;
    border-right: 5px solid #ccc; */
    background: #f7f8f8;
    position: relative;
    overflow: hidden;
    height: 100%;
  }
  .__rtbox{
    /* background-image: url('../../../assets/VTAG_Images/chmsgbg.png'); */
    box-shadow: 0 0 4px 4px #ccc;
    height: 288px;
    width: 300px;
    margin-top: 8px;
  }
  
  .__mailimg{
   
    width:70px; display: block; margin-left: auto; margin-right: auto;padding-top: 1rem;
  }
  
  
  
  .__inputValue {
    position: relative;
    /* top: 29%; */
    padding: 0 18px;
  }
  .__inputValue .inputbgTrans {
    background: transparent;
    padding: 0;
    color: #000000;
    border: none;
    text-align: center;
    box-shadow: none;
    resize: none;
  }
  .__inputValue .inputbgheight {
    height: 96px;
    background: transparent;
    padding: 0;
    color: #000000;
    border: none;
    text-align: center;
    box-shadow: none;
  }
  .__inputValue .inputbgTrans:hover{
    border: 1px solid #86b7fe;
  }
  /* .__dg{
    display: grid;
    color: #000000;
    font-size: 12px;
    margin-top: 13px;
  }
  .__dg span{
    padding: 2px 6px;
    border-radius: 3px;
  }
  .__dg span:hover{
    background:#505e63;
    color: #ffffff;
  } */
  .selectInput {
    line-height: 1;
    padding: 4px;
    font-size: 0.9rem;
    box-shadow: none;
    border-radius: 2px;
  }
  .InputBox {
    line-height: 1;
    font-size: 0.9rem;
    padding: 2px;
    box-shadow: none;
    border-radius: 2px;
  }
  .pAd10__15 {
    display: flex;
    padding: 10px 15px;
  }
  .ewdh__200px {
    margin: 0 5px;
    width: 200px;
  }
  .bg__yellow{
    /* background-image: url('../../../assets/VTAG_Images/LCD-display-text.png'); */
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    height: 63px;
    margin: 13px 38px;
    background:rgba(80, 94, 99, 0.239);
    box-shadow: 0 0 4px 4px #ccc;
  
  }
  
  .yellow__inputValue{
    position: relative;
    top: 8%;
    padding: 0 5px;
  }
  .yellow__inputValue .inputbgTrans {
    background: transparent;
    padding: 0;
    color: #000000;
    border: none;
    text-align: center;
    box-shadow: none;
  }
  .yellow__inputValue .inputbgheight {
    height: 96px;
    background: transparent;
    padding: 0;
    color: #ffffff;
    border: none;
    text-align: center;
    box-shadow: none;
  }
  .yellow__inputValue .inputbgTrans:hover{
    border: 1px solid #86b7fe;
  }
  .btngradient {
    width: 40%;
    background: #4caf50;
    color: #ffffff;
    font-size: 14px;
    border: 1px solid #000000;
    box-shadow: 0px 0px 0px 1px #cccccc;
    margin: 0 4px;
  }
  
  .__m5{
   margin: 0 5px;
  }
  .__pd{
   padding: 11px 0;
  }
  
  .__flw{
   float: left;width: 38%;
  }
  
  .__fltr{
  float: right;width: 38%;text-align: right;
  }
  
  
  ::ng-deep .mat-tab-label:hover {
    background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0));
  }
   
  
  ::ng-deep .mat-tab-label-active:hover {
    background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0));
  }
  
/* Edit Messages code ends */




::ng-deep .mat-dialog-container {
    padding: 0;
  }
  ::ng-deep .mat-tab-body-wrapper{
       background: #f7f8f8;
      border: 1px solid #ccc;
      border-radius: 3px;
  }
  .namettl {
    font-size: 13px;
    padding: 4px 12px;
    color: #000000;
    font-weight: bold;
    background: linear-gradient( #fffcfc, #b7bfbf);
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .__bDr {
    padding: 5px 15px;
    /* border-bottom: 5px solid #ededed;
    border-left: 5px solid #ededed;
    border-right: 5px solid #ededed; */
  }
  
  .bdr_wdh {
    /* border-left: 5px solid #ccc;
    border-bottom: 5px solid #ccc;
    border-right: 5px solid #ccc; */
    background: #f7f8f8;
    position: relative;
    overflow: hidden;
    height: 100%;
  }
  .__rtbox{
    /* background-image: url('../../../assets/VTAG_Images/chmsgbg.png'); */
    box-shadow: 0 0 4px 4px #ccc;
    height: 288px;
    width: 300px;
    margin-top: 8px;
  }
  
  .__mailimg{
   
    width:70px; display: block; margin-left: auto; margin-right: auto;padding-top: 1rem;
  }
  
  
  
  .__inputValue {
    position: relative;
    /* top: 29%; */
    padding: 0 18px;
  }
  .__inputValue .inputbgTrans {
    background: transparent;
    padding: 0;
    color: #000000;
    border: none;
    text-align: center;
    box-shadow: none;
    resize: none;
  }
  .__inputValue .inputbgheight {
    height: 96px;
    background: transparent;
    padding: 0;
    color: #000000;
    border: none;
    text-align: center;
    box-shadow: none;
  }
  .__inputValue .inputbgTrans:hover{
    border: 1px solid #86b7fe;
  }
  .__dg{
    display: grid;
    color: #000000;
    font-size: 12px;
    margin-top: 13px;
  }
  .__dg span{
    padding: 2px 6px;
    border-radius: 3px;
  }
  .__dg span:hover{
    background:#505e63;
    color: #ffffff;
  }
  .selectInput {
    line-height: 1;
    padding: 4px;
    font-size: 0.9rem;
    box-shadow: none;
    border-radius: 2px;
  }
  .InputBox {
    line-height: 1;
    font-size: 0.9rem;
    padding: 2px;
    box-shadow: none;
    border-radius: 2px;
  }
  .pAd10__15 {
    display: flex;
    padding: 10px 15px;
  }
  .wdh__200px {
    margin: 0 5px;
    width: 200px;
  }
  .bg__yellow{
    /* background-image: url('../../../assets/VTAG_Images/LCD-display-text.png'); */
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    height: 63px;
    margin: 13px 38px;
    background:rgba(80, 94, 99, 0.239);
    box-shadow: 0 0 4px 4px #ccc;
  
  }
  
  .yellow__inputValue{
    position: relative;
    top: 8%;
    padding: 0 5px;
  }
  .yellow__inputValue .inputbgTrans {
    background: transparent;
    padding: 0;
    color: #000000;
    border: none;
    text-align: center;
    box-shadow: none;
  }
  .yellow__inputValue .inputbgheight {
    height: 96px;
    background: transparent;
    padding: 0;
    color: #ffffff;
    border: none;
    text-align: center;
    box-shadow: none;
  }
  .yellow__inputValue .inputbgTrans:hover{
    border: 1px solid #86b7fe;
  }
  .btngradient {
    width: 40%;
    background: #4caf50;
    color: #ffffff;
    font-size: 14px;
    border: 1px solid #000000;
    box-shadow: 0px 0px 0px 1px #cccccc;
    margin: 0 4px;
  }
  
  .__m5{
   margin: 0 5px;
  }
  .__pd{
   padding: 11px 0;
  }
  
  .__flw{
   float: left;width: 38%;
  }
  
  .__fltr{
  float: right;width: 38%;text-align: right;
  }
  
  
  ::ng-deep .mat-tab-label:hover {
    background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0));
  }
   
  
  ::ng-deep .mat-tab-label-active:hover {
    background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0));
  }
  


  /* send all code starts */
::ng-deep .mat-dialog-container {
    padding: 0;
  }
  ::ng-deep .mat-tab-body-wrapper{
    background: #f7f8f8;
    border: 1px solid #ccc;
      border-radius: 3px;
  }
  .sanamettl {
    font-size: 13px;
    /* background:  linear-gradient(#ededed,#e4e4e4,#e2e2e2,#e4e4e4,#888888,#9a9a9a,#ababab,#d0d0d0,#ededed); */
    padding: 4px 12px;
    color: #000000;
    font-weight: bold;
    background: linear-gradient( #fffcfc, #b7bfbf);
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .sa__bDr {
    padding: 5px 15px;
  }
  
  .sabdr_wdh {
    position: relative;
    overflow: hidden;
    height: 100%;
  }
  
  .sa__rtbox{
    /* background-image: url('../../../assets/VTAG_Images/chmsgbg.png'); */
    box-shadow: 0 0 4px 4px #ccc;
    height: 288px;
    width: 300px;
    margin-top: 8px;
  }
  
  .sa__mailimg{
   
    width:70px; display: block; margin-left: auto; margin-right: auto;padding-top: 1rem;
  }
  
  
  .sa__inputValue {
    position: relative;
    top: 5%;
    padding: 0 18px;
  }
  .sa__inputValue .sainputbgTrans {
    background: transparent;
    padding: 0;
    color: #ffffff;
    border: none;
    text-align: center;
    box-shadow: none;
    resize: none;
  }
  .sa__inputValue .sainputbgTrans:hover{
    border: 1px solid #86b7fe;
  }
  .saselectInput {
    line-height: 1;
    padding: 4px;
    font-size: 0.9rem;
    box-shadow: none;
    border-radius: 2px;
  }
  .sapAd10__15 {
    display: flex;
    padding: 10px 15px;
    display: grid;
  }
  .sawdh__200px {
    margin: 0 5px;
    width: 200px;
    top: 43%;
    position: relative;
  }
  .sabg__yellow{
    max-width: 100%;
    height: 60px;
    margin: 13px 7px;
    background:rgba(80, 94, 99, 0.239);
    box-shadow: 0 0 4px 4px #ccc;
  }
  .sayellow__inputValue{
    position: relative;
    top: 8%;
    padding: 0 5px;
  }
  .sayellow__inputValue .inputbgTrans {
    background: transparent;
    padding: 0;
    color: #ffffff;
    border: none;
    text-align: center;
    box-shadow: none;
  }
  .sayellow__inputValue .inputbgheight {
    height: 96px;
    background: transparent;
    padding: 0;
    color: #ffffff;
    border: none;
    text-align: center;
    box-shadow: none;
  }
  .sayellow__inputValue .inputbgTrans:hover{
    border: 1px solid #86b7fe;
  }
  .sabtngradient {
    width: 40%;
    /* background: linear-gradient(#cccccc,#cccccc,#868686,#cccccc, #cccccc); */
    font-size: 14px;
    border: 1px solid #000000;
    box-shadow: 0px 0px 0px 1px #cccccc;
    margin: 0 4px;
    background: #4caf50;
    color: white;
    /* padding-top: 3px; */
  }
  
  .sa__fr{
   float: right;
  }
  
  .sa__df{
    display: flex;
  }
  
  .sa__mar{
   margin: 0 5px;
  }
  
  .sa__frwta{
    float: right;width: 38%;text-align: right;
  }
  
  .sa__pd{
    padding: 11px 0
  }

/* send all code ends */